<button class="showDetailsBtn">+</button>
<div class="cardDetails hidden">
    └
    <form action="/delete/folder/<%= folder.id %>" method="POST" class="invisibleForm">
        <button class="deleteBtn" type="submit">✖ Delete</button>
    </form>
    <button class="editBtn">✎ Edit</button>
    <form action="/edit/folder/<%= folder.id %>" method="POST" class="editForm hidden">
        <label for="folderName">New folder name: </label>
        <input 
            type="text" 
            name="folderName" 
            pattern = "^[a-zA-Z0-9]+(?: [a-zA-Z0-9]+)*$"
            title="Special characters are not allowed. Spaces are only allowed in between words."
            placeholder="Enter new folder name..."
            required 
        />
        <button type="submit">Submit</button>
    </form>
</div>