<nav>
	<div id="logo">
		<a href="/">FileUploader</a>
	</div>
	<ul> 
	<% if(!isAuthenticated) { %>
		<li><a href="/login">Log In</a></li>
		<li><a href="/register">Register</a></li>
	<% } else { %>
		<div>
			User: <%= user.username %>
		</div>
		<li><a href="/logout">Logout</a></li>
	<% } %>
	</ul>
</nav> 
<hr />
