<nav>
	<div>FileUploader</div>
	<ul>
		<li><a href="/logn">Log In</a></li>
		<li><a href="/register">Register</a></li>
		<li><a href="/logout">Logout</a></li>

		<li><a href="/404">404</a></li>
	</ul>
</nav>
