<!DOCTYPE html>
<html lang="en">
	<%- include('partials/head', {title: 'FileUploader'}) %>
	<body>
		<%- include('partials/nav') %>
		<main>
			<% if(isAuthenticated) { %>
			<h1>Welcome, <%= user.username %></h1>
			<div class="upload">
				<form action="/upload" method="POST" enctype="multipart/form-data">
					<input type="file" name="file" />
					<button type="submit">Upload</button>
				</form>
			</div>
			<div class="files">
				<h2>Your files</h2>
				<% if(!files || files.length < 1) { %>
					<p>This is empty...</p>
				<% } %>
			</div>
			<% } else { %>
			<h1>Login to upload files</h1>
			<% } %>
		</main>
	</body>
</html>
