* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
nav {
	padding: 16px;
	background-color: rgb(67, 67, 255);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 1.2rem;
}

nav #logo {
	font-weight: bold;
	font-size: 2rem;
}

nav > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 600px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 25px;
}

nav ul div {
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
	color: inherit;
}
main a {
	color: blue;
}
main {
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
}

form {
	display: flex;
	flex-direction: column;
}

form div {
	display: flex;
	justify-content: space-around;
	gap: 5px;
}
.files,
.upload {
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
	padding: 32px;
	width: 600px;
}

.hidden {
	display: none;
}

.upload {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.upload button {
	padding-left: 8px;
	padding-right: 8px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form button,
form select {
	width: 100%;
}

form input {
	border: 1px solid grey;
}

form > div {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0px;
}

.invisibleForm {
	display: contents;
}

.invisibleForm button {
	width: auto;
}

.cardDetails button {
	padding-left: 8px;
	padding-right: 8px;
}

.cardDetails form {
	margin-top: 8px;
	align-items: flex-start;
	width: fit-content;
	margin-bottom: 8px;
}

.cardDetails {
	margin-bottom: 8px;
}

.fileCard .cardDetails {
	padding-left: 8px;
}

.fileCard .cardDetails div {
	margin-top: 8px;
}
